services:
  mongo:
    image: mongo
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment: 
      MONGO_INITDB_ROOT_USERNAME: myUser
      MONGO_INITDB_ROOT_PASSWORD: myPassword
      MONGO_INITDB_DATABASE: "kindergarten"
    volumes:
      - mongo-data:/data/db

  employee-service:
    build: ./employeeservice
    container_name: employee-service
    ports:
      - "5003:5003"
    environment:
      MONGODB_URI: "mongodb://myUser:myPassword@mongodb:27017/kindergarten?authSource=admin"
      DATABASE_NAME: kindergarten
    depends_on:
      - mongo

  student-service:
    build: ./studentservice
    container_name: student-service
    ports:
      - "5001:5001"
    environment:
      MONGODB_URI: "mongodb://myUser:myPassword@mongodb:27017/kindergarten?authSource=admin"
      DATABASE_NAME: kindergarten
    depends_on:
      - mongo

  teacher-service:
    build: ./teacherservice
    container_name: teacher-service
    ports:
      - "5002:5002"
    environment:
      MONGODB_URI: mongodb://myUser:myPassword@mongodb:27017/kindergarten?authSource=admin
      DATABASE_NAME: kindergarten
    depends_on:
      - mongo
  
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      REACT_APP_EMPLOYEE_API: http://employee-service:5003
      REACT_APP_STUDENT_API: http://student-service:5001
      REACT_APP_TEACHER_API: http://teacher-service:5002
    depends_on:
      - employee-service
      - student-service
      - teacher-service


volumes:
  mongo-data:
